---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astronomical</title>
  </head>
  <body>
    <header class="bg-black text-white p-4 flex justify-between items-center">
      <h1 class="text-4xl font-bold bg-black text-white p-4">
        <a href="/" class="hover:bg-white hover:text-black">Astronomical</a>
      </h1>
      <nav class="flex gap-4 uppercase text-sm">
        <a class="hover:bg-white hover:text-black" href="/about">Who</a>
        <a class="hover:bg-white hover:text-black" href="/history">History</a>
      </nav>
    </header>
    <h2 class="text-xl font-bold p-4">History</h2>
    <p>This is the story</p>
  </body>
</html>
